<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>币价监听</title>
    <link rel="stylesheet" href="../../../statics/bootstrap.min.css" crossorigin="anonymous">
    <style>
        body {
            background:#EEEEEE;
        }

        #app {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top:100px;
        }

        .ip{
            margin-bottom:20px;
        }
    </style>
</head>
<body>
    <div class="jumbotron" style="width:100%;height:100%">
        <div id="app" class="container" style="width:70%;">
            <div class="input-group input-group-lg ip">
              <span class="input-group-addon" id="sizing-addon1">金额</span>
              <input type="text" v-model="amount" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
              <span class="input-group-addon" id="sizing-addon1">元</span>
            </div>
            <div class="input-group input-group-lg ip">
                <span class="input-group-addon" id="sizing-addon1">差价</span>
                <input type="text" v-model="target_price" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                <span class="input-group-addon" id="sizing-addon1">元</span>
            </div>
            <div class="input-group input-group-lg ip">
                <span class="input-group-addon" id="sizing-addon1">利润</span>
                <input type="text" v-model="target_profit" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                <span class="input-group-addon" id="sizing-addon1">元</span>
            </div>
          <button v-on:click="submit" class="btn btn-info">更改</button>
        </div>
    </div>

</body>
<script src="../../../statics/vue.min.js"></script>
<script src="../../../statics/axios.min.js"></script>
<script src="../../../statics/bootstrap.min.js"></script>
<script type="text/javascript">
    new Vue({
        delimiters:['${','}'],
        el: '#app',
        data: {
            amount:'{{ .amount }}',
            target_price:'{{ .target_price }}',
            target_profit:'{{ .target_profit }}'
        },
        created: function () {
            console.log("test")
        },
        methods: {
            //提交数据
            submit(e){
                var url = "/update";
                axios.post(url,{amount:parseFloat(this.amount), target_price:parseFloat(this.target_price), target_profit:parseFloat(this.target_profit)}).then( response=> {
                    var res = response.data;
                    if (res.code != 0){
                        alert(res.msg)
                    }else{
                        alert(res.msg)
                    }
                }).catch(error => {
                    this.$message.error("请求异常");
                });
            },

        }
    })
</script>
</html>